@model UsuarioModel

@{
    ViewData["Title"] = "Tarefas";
}

<body style="background-color:black">

    <img src="~/Wallpaper.png" alt="Logo ToDoList" class="background">

    <div class="leftBar"></div>

    <div class="tarefaLorem"></div>

    @if (Login.loginStatus == "Deslogado")
    {
        <div class="logout">
            <a asp-controller="Login" asp-action="Index">Log out</a>
        </div>
    }
    else
    {
        <div class="logout">
            <a asp-controller="Login" asp-action="Index">Log in</a>
        </div>
    }


    <!--<form asp-controller="Tarefas" asp-action="Criar" method="post">-->

    <div class="addTarefaBox">
        <input type="text" asp-controller="Usuario" asp-for="tarefa" class="form-controlre" placeholder="Adicionar uma tarefa" />
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

    <div class="todas">
        <a>Todas</a>
    </div>

    <div class="importantes">
        <a>Importantes</a>
    </div>

    <div class="concluidas">
        <a>Concluídas</a>
    </div>

    <div class="ativas">
        <a>Ativas</a>
    </div>


    <!--  </form>-->
</body>

<style>
    .background {
        position: absolute;
        z-index: 0;
        margin: auto auto auto 300px;
        height: 750px;
        width: 800px;
    }
    .leftBar {
        position: absolute;
        z-index: 0;
        /* margin: 100px 0px 0px 300px; */
        height: 750px;
        width: 300px;
        background-color: #171717;
    }
    .tarefaLorem {
        position: absolute;
        margin: 100px 0px 0px 350px;
        height: 67.5px;
        width: 700px;
        background-color: #333333;
        z-index: 1;
        opacity: 80%;
    }
    .addTarefaBox {
        position: absolute;
        margin: 650px 0px 0px 350px;
        height: 45px;
        width: 700px;
        background-color: #333333;
        z-index: 1;
        opacity: 80%;
    }
    .form-controlre {
        margin: 10px auto auto 10px;
        background-color: transparent;
        border: none;
    }
    .logout {
        color: blue;
        z-index: 2;
        position: absolute;
        margin: 15px 0px 0px 125px;
    }

    .todas {
        position: absolute;
        color: white;
        font-family: Bahnschrift;
        font-size: 185%;
        margin: 55px auto auto 35px;
        border: 1px solid #333333;
        border-radius: 25px;
        border-width: 0px 100px 0px 10px;
        padding: 0px 0px 0px 0px;
        background: #333333;
    }

    .importantes {
        position: absolute;
        color: white;
        font-family: Bahnschrift;
        font-size: 185%;
        margin: 115px auto auto 35px;
    }

    .concluidas {
        position: absolute;
        color: white;
        font-family: Bahnschrift;
        font-size: 185%;
        margin: 175px auto auto 35px;
    }

    .ativas {
        position: absolute;
        color: white;
        font-family: Bahnschrift;
        font-size: 185%;
        margin: 235px auto auto 35px;
    }
</style>
