@{
    ViewData["Title"] = "Sobre o projeto";
}
<h1>@ViewData["Title"]</h1>

<br />

<p>Esse é um projeto feito para a máteria de Projeto de Software do Curso Engenharia de Software.</p>
<p>Foi utilizado o MVC C# ASP.NET WEB.</p>
<p>Para o front-end utilizamos Razor C#, HTML, CSS e Javascript.</p>
<p>Para o back-end utilizamos C# e como banco de dados o EF MYSQL Server.</p>

<div style="line-height:2700%;">
    <br>
</div>
<p>Matheus de Moura Rosa</p>
<p>Pedro Henrique Chaves Junqueira</p>
