@{
    ViewData["Title"] = "Confirmar a ação de apagar";
}

<div class="text-center">
    <h3>Realmente deseja apagar o usuário (x)?</h3>
</div>

<div class="text-center">

    <a class="btn btn-primary" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button">Confirmar exclusão</a>

</div>

